.clients {
  padding-top: 94px;
  padding-bottom: 94px;

  &__list {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-right: -30px;
  }

  &__item {
    flex-basis: calc(100% / 6 - 30);
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }

    &--thumb {
      box-sizing: border-box;
      width: 170px;
      height: 90px;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    width: 100%;
    height: 100%;

    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      border: 1px solid var(--accent-color);
      fill: var(--accent-color);
    }
  }
}
