.qulity {
  padding-top: 94px;
  padding-bottom: 94px;

  &__list {
    display: flex;
  }

  &__item {
    width: calc((100%-90px) / 4);
    margin-right: 30px;
    margin-left: 0;

    &:last-child {
      margin-right: 0;
    }
  }

  &__thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: #f5f4fa;
    border-radius: 4px;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: #757575;
  }
}
