.team {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--backgroundcolor-team);

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }

  &__item {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-top: 30px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
}

.card {
  padding: 30px;
  text-align: center;

  background-color: var(--white-color);

  &__title {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;

    color: #212121;
  }

  &__text {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
  }

  &__list {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  &__items {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-right: 10px;

    &:last-child {
      margin-right: 0px;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: var(--accent-color);
      fill: var(--white-color);
    }
  }
}
