:root {
  --praimary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --back-color: #2f303a;
  --backgroundcolor-team: #f5f4fa;
  --rgba-color: rgba(255, 255, 255, 0.6);
}
